body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  margin-top: 50px;
}

.container {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

.item {
  background: white;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  border-radius: 5px;
}
